<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
       <div class="container-fluid p-0">
         <nav class="navbar navbar-expand-lg">
           <a class="navbar-brand" href="/">
             <i class="fas fa-icono fa-2x mx-3" ></i></p> <img class="logo" src="/img/farmaIcono.gif" alt="First slide" /> AQUI LO CONSIGUE</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
             aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <i class="fas fa-align-right text-light"></i>
           </button>
           <div class="collapse navbar-collapse" id="navbarNav">
             <div class="mr-auto"></div>
             <ul class="navbar-nav">
               <li class="nav-item active">
                 <a class="nav-link" href="/">Inicio
                   <span class="sr-only">(current)</span>
                 </a>
               </li>
                 <li class="nav-item">
                 <a class="nav-link" href="/links_index/loginPedidos">Login</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/links_index/productos">productos</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/links_index/registroPedido">Registrarse</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/links_index/about">Acerca de </a>
               </li>
               <li class="carrito">
                 <a class="carrito" href="#"><img src="/img/carrito.png" alt=""> </a>
               </li>
             </ul>
           </div>
         </nav>
       </div>
       <div class="container text-center">
         <div class="row">
           <div class="Texto" >
             AUTHOR: Yojhan Alexis Gutierrez Penagos<br><br>
             No cambies la salud por la riqueza, ni la libertad por el poder<br><br>
           </div>
         </div>
       </div>
       <div>
            <marquee SCROLLAMOUNT="10" direction="right">
              <img  src="/img/farmaLocu.gif" alt="First slide" />
            </marquee>
     </div>
     </header>
     <section class="faq-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title-inner">
					<div class="title">¿Concoces de nosotros?</div>
					<h1>welcome customers</h1>
				</div>
			</div>
			
			<div class="row clearfix">
				
				<!-- Accordian Column -->
				<div class="accordian-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<!--Accordian Box-->
						<ul class="accordion-box">

							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Misión</div>
								<div class="acc-content" style="display: block;">
									<div class="content">
										<div class="text">Prestar un servicio de calidad con personal especializado,
                                                          asociados con el mercado que generan entusiasmo y lealtad con nuestros clientes,
                                                          mientras que nuestros empleados se comprometan a lograr el desempeño esperado de nuestros accionistas.</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Visión</div>
								<div class="acc-content" style="display: block;">
									<div class="content">
										<div class="text">Mantener un servicio de calidad ante la entrega de los productos</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Políticas de Calidad</div>
								<div class="acc-content" style="display: block;">
									<div class="content">
										<div class="text">Satisfacer las necesidades y expectativas del cliente a través de la calidad y la mejora. Asegúrese de contar con personal bien capacitado para la manipulacion de medicamentos.</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Valores</div>
								<div class="acc-content" style="display: block;">
									<div class="content">
										<div class="text">Honestidad, Respeto, Compromiso, Lealtad, Responsabilidad</div>
									</div>
								</div>
							</li>
									
							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Donde nos puedes encontrar o contactar?</div>
								<div class="acc-content" style="display: block;">
									<div class="content">
										<div class="text">Calle busquela con carrera encuetrela y el numero busquelo en el directorio </div>
									</div>
								</div>
							</li>
						
						</ul>
						
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column wow slideInRight animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: slideInRight;">
						<div class="image">
							<img src="/img/farmaciaLogo2.gif" alt="">
						</div>
                        <div class="image">
							<img src="/img/farmaciaMedicamento.gif" alt="">
						</div>
                         <div class="image">
							<img src="/img/farmaciaMedicamento.gif" alt="">
						</div>
                         <div class="image">
							<img src="/img/farmaciaMedicamento.gif" alt="">
						</div>
                        <div class="image">
							<img src="/img/farmaciaMedicamento.gif" alt="">
						</div>
            
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
    <footer>
       <div class="container-fluid p-0">
         <div class="row text-left">
           <div class="col-md-5 col-sm-5">
             <h3 class="text-light">Sobre Nosotros</h4>
             <h4>Fundacion Escuela Tecnologia | NIT 1075321265 | FarmaLocu | 8770959 | Cra 51D # 24 - 41 | yojhan_gutierrezpe@fet.edu.co © 2020 (Súper intendencia de industria y comercio</h3>
             <p class="text-muted">
               </p>
             <p >Copyright ©2020 Derechos Reservados.
   
             </p>
           
           </div>
         </div>
       </div> 
</body>
</html>