<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title class="Texto">Iniciar Seccion</title>
</head>
<body>
    <header>
      <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">
            <i class="fas fa-icono fa-2x mx-3" ></i></p> <img class="logo" src="/img/farmaIcono.gif" alt="First slide" /> AQUI LO CONSIGUE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-right text-light"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Inicio
                  <span class="sr-only">(current)</span>
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="links_index/loginPedidos">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/links_index/productos">productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/links_index/registroPedido">Registrarse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/links_index/about">Acerca de </a>
              </li>
              <li class="carrito">
                <a class="carrito" href="/links_index/carrito"><img src="/img/carrito.png" alt=""> </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="Texto" >
            AUTHOR: Yojhan Alexis Gutierrez Penagos<br><br>
            No cambies la salud por la riqueza, ni la libertad por el poder<br><br>
          </div>
        </div>
      </div>
      <div>
          <marquee SCROLLAMOUNT="10" direction="right">
            <img  src="/img/farmaLocu.gif" alt="First slide" />
          </marquee>
    </div>
    </header>
    <div class="container">
  <div class="row">
<<<<<<< HEAD
    <div class="col align-self-center mx-auto">
=======
<<<<<<< HEAD
    <div class="col align-self-center mx-auto">
=======
    <div class="col align-self-center">
>>>>>>> ac8fa863929bf921d1dcaf5dc92ad3f034526539
>>>>>>> aa76c122450ba3ab60d41a345efa9a38a1f30e51
      <div class="card">
        <div class="card-body">
          <form action="form-signin" method="post">
            <div class="text-center mb-4">
              <h1 class="h1 mb-3 font-weight-Arial">Iniciar Sesion</h1>
            </div>
            <div class="text-center mb-4">
              <img src="/img/farmaco.gif" alt="First slide" class="farmaco" style="align-content: center;" />
            </div>  
            <div class="form-label-group">
              <label class="h3 mb-2 font-weight-Arial">Usuario:</label>
              <input class="form-control" id="inputEmail" type="email" placeholder="Digite su Correo" />
            </div>
            <div class="form-label-group">
              <label class="h3 mt-2 ">Contraseña:</label>
<<<<<<< HEAD
              <input class="form-control" type="password" name="contra" placeholder="Digite su Contraseña" />
=======
<<<<<<< HEAD
              <input class="form-control" type="password" name="contra" placeholder="Digite su Contraseña" />
=======
              <input class="form-control" type="password" placeholder="Digite su Contraseña" />
>>>>>>> ac8fa863929bf921d1dcaf5dc92ad3f034526539
>>>>>>> aa76c122450ba3ab60d41a345efa9a38a1f30e51
            </div>
            <br />
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block">Iniciar</button>
            </div>
          </form>
          
          <br>
            <a href="/links_index/registroPedido" class="registro"> -Registrarse</a>
            <a href="/links_index/recordar" class="recordar"> -¿Olvido su contraseña?</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<footer>
      <div class="container-fluid p-0">
        <div class="row text-left">
          <div class="col-md-5 col-sm-5">
            <h3 class="text-light">Sobre Nosotros</h4>
            <h4>
              |NIT 1075321265 | FarmaLocu | 8770959 | Cra 51D # 24 - 41 | yojhan_gutierrezpe@fet.edu.co © 2020
              <br>
              (Súper intendencia de industria y comercio)</h3>
            <p>
              Copyright ©2020 Derechos Reservados.
            </p>
          </div>
        </div>
      </div> 
  
</body>
</html>